In [1]:
import pandas as pd

In [2]:
elec = pd.read_csv('ch.bfe.elektrizitaetsproduktionsanlagen/ElectricityProductionPlant.csv')

In [3]:
elec.head()

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
0,14727,Schlossstrasse 15,4147,Aesch BL,BL,2009-05-05,14.65,18.81,maincat_2,subcat_2,plantcat_9,NaN,NaN
1,14728,Ob der Steig 1,5082,Kaisten,AG,2011-10-28,5.80,5.80,maincat_2,subcat_2,plantcat_8,2645765.0,1265097.0
2,10164,Gässli 4,3114,Wichtrach,BE,2008-10-07,3.00,3.00,maincat_2,subcat_2,plantcat_8,2610547.0,1188978.0
3,10794,Diemtigtalstrasse 46,3753,Oey,BE,2008-06-27,8.40,8.40,maincat_2,subcat_2,plantcat_8,2610530.0,1167346.0
4,9476,Holzweidstrasse 8,8340,Hinwil,ZH,2006-04-21,4.80,4.80,maincat_2,subcat_2,plantcat_8,2705859.0,1240558.0

In [4]:
cantons = (elec.Canton.unique())
cantons

array(['BL', 'AG', 'BE', 'ZH', 'SG', 'TI', 'FR', 'SO', 'NW', 'LU', 'TG',
       'VS', 'VD', 'SH', 'JU', 'AR', 'AI', 'GE', 'GR', 'UR', 'ZG', 'OW',
       'SZ', 'GL', 'NE', 'BS'], dtype=object)

In [5]:
mainCat = (elec.MainCategory.unique())
mainCat

array(['maincat_2', 'maincat_1', 'maincat_4', 'maincat_3'], dtype=object)

In [6]:
subCat = (elec.SubCategory.unique())
subCat

array(['subcat_2', 'subcat_3', 'subcat_1', 'subcat_4', 'subcat_10',
       'subcat_8', 'subcat_6', 'subcat_7'], dtype=object)

In [7]:
plantCat = (elec.PlantCategory.unique())
plantCat

array(['plantcat_9', 'plantcat_8', nan, 'plantcat_4', 'plantcat_5',
       'plantcat_13', 'plantcat_2', 'plantcat_11', 'plantcat_3',
       'plantcat_10', 'plantcat_12', 'plantcat_1', 'plantcat_7',
       'plantcat_6'], dtype=object)

In [8]:
elec.loc[(elec['Canton'] == 'ZH') & (elec['MainCategory'] == 'maincat_2'), 'TotalPower'].sum()

412355.98

In [9]:
newdf = {'Canton':'', 'MainCategory':'', 'SubCategory':'', 'PlantCategory':'', 'InitialPower':0,'TotalPower':0}
df = pd.DataFrame()
df = df.append(newdf, ignore_index = True)
df

  Canton  InitialPower MainCategory PlantCategory SubCategory  TotalPower
0                  0.0                                                0.0

In [10]:
for canton in cantons:
    for main in mainCat:
        for sub in subCat:
            for plant in plantCat:
                totalP = elec.loc[(elec['Canton'] == canton) & (elec['MainCategory'] == main) & (elec['SubCategory'] == sub) & (elec['PlantCategory'] == plant), 'TotalPower'].sum()
                initP = elec.loc[(elec['Canton'] == canton) & (elec['MainCategory'] == main) & (elec['SubCategory'] == sub) & (elec['PlantCategory'] == plant), 'InitialPower'].sum()
                newdf = {'Canton': canton, 'MainCategory':main, 'SubCategory':sub, 'PlantCategory':plant, 'InitialPower':initP,'TotalPower':totalP}
                df = df.append(newdf, ignore_index = True)
df

      Canton  InitialPower MainCategory PlantCategory SubCategory  TotalPower
0                     0.00                                               0.00
1         BL       8455.01    maincat_2    plantcat_9    subcat_2     8949.36
2         BL      82823.65    maincat_2    plantcat_8    subcat_2    85828.55
3         BL          0.00    maincat_2           NaN    subcat_2        0.00
4         BL          0.00    maincat_2    plantcat_4    subcat_2        0.00
...      ...           ...          ...           ...         ...         ...
11644     BS          0.00    maincat_3   plantcat_10    subcat_7        0.00
11645     BS          0.00    maincat_3   plantcat_12    subcat_7        0.00
11646     BS          0.00    maincat_3    plantcat_1    subcat_7        0.00
11647     BS          0.00    maincat_3    plantcat_7    subcat_7        0.00
11648     BS          0.00    maincat_3    plantcat_6    subcat_7        0.00

[11649 rows x 6 columns]

In [13]:
df.head()

  Canton  InitialPower MainCategory PlantCategory SubCategory  TotalPower
0                 0.00                                               0.00
1     BL       8455.01  Wasserkraft    plantcat_9    subcat_2     8949.36
2     BL      82823.65  Wasserkraft    plantcat_8    subcat_2    85828.55
3     BL          0.00  Wasserkraft           NaN    subcat_2        0.00
4     BL          0.00  Wasserkraft    plantcat_4    subcat_2        0.00

In [18]:
df = pd.read_csv('EnergyPerCanton.csv')

In [20]:
df.head(30)

,Unnamed: 0,Canton,InitialPower,MainCategory,PlantCategory,SubCategory,TotalPower
0,0,NaN,0.00,NaN,NaN,NaN,0.00
1,1,BL,8455.01,maincat_2,plantcat_9,subcat_2,8949.36
2,2,BL,82823.65,maincat_2,plantcat_8,subcat_2,85828.55
3,3,BL,0.00,maincat_2,NaN,subcat_2,0.00
4,4,BL,0.00,maincat_2,plantcat_4,subcat_2,0.00
5,5,BL,0.00,maincat_2,plantcat_5,subcat_2,0.00
6,6,BL,0.00,maincat_2,plantcat_13,subcat_2,0.00
7,7,BL,0.00,maincat_2,plantcat_2,subcat_2,0.00
8,8,BL,0.00,maincat_2,plantcat_11,subcat_2,0.00
9,9,BL,0.00,maincat_2,plantcat_3,subcat_2,0.00
10,10,BL,150.69,maincat_2,plantcat_10,subcat_2,150.69
11,11,BL,0.00,maincat_2,plantcat_12,subcat_2,0.00
12,12,BL,0.00,maincat_2,plantcat_1,subcat_2,0.00
13,13,BL,0.00,maincat_2,plantcat_7,subcat_2,0.00
14,14,BL,0.00,maincat_2,plantcat_6,subcat_2,0.00
15,15,BL,0.00,maincat_2,plantcat_9,subcat_3,0.00
16,16,BL,0.00,maincat_2,plantcat_8,subcat_3,0.00
17,17,BL,0.00,maincat_2,NaN,subcat_3,0.00
18,18,BL,0.00,maincat_2,plantcat_4,subcat_3,0.00
19,19,BL,0.00,maincat_2,plantcat_5,subcat_3,0.00
20,20,BL,0.00,maincat_2,plantcat_13,subcat_3,0.00
21,21,BL,0.00,maincat_2,plantcat_2,subcat_3,0.00
22,22,BL,0.00,maincat_2,plantcat_11,subcat_3,0.00
23,23,BL,0.00,maincat_2,plantcat_3,subcat_3,0.00
24,24,BL,0.00,maincat_2,plantcat_10,subcat_3,0.00
25,25,BL,0.00,maincat_2,plantcat_12,subcat_3,0.00
26,26,BL,0.00,maincat_2,plantcat_1,subcat_3,0.00
27,27,BL,0.00,maincat_2,plantcat_7,subcat_3,0.00
28,28,BL,0.00,maincat_2,plantcat_6,subcat_3,0.00
29,29,BL,0.00,maincat_2,plantcat_9,subcat_1,0.00

In [21]:
df['MainCategory'] = df['MainCategory'].replace(['maincat_1'],'Hydroelectric power')
df['MainCategory'] = df['MainCategory'].replace(['maincat_2'],'Other renewable energies')
df['MainCategory'] = df['MainCategory'].replace(['maincat_3'],'Nuclear energy')
df['MainCategory'] = df['MainCategory'].replace(['maincat_4'],'Fossil fuel')

In [22]:
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_1'],'Wastewater power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_2'],'Diversion power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_3'],'Weir plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_4'],'Continuous power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_5'],'Drinking water power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_6'],'Pumped storage power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_7'],'Storage power plant')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_8'],'Attached')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_9'],'Integrated')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_10'],'Freestanding')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_11'],'Biomass usage')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_12'],'Waste incineration')
df['PlantCategory'] = df['PlantCategory'].replace(['plantcat_13'],'Wastewater treatment')

In [23]:
df['SubCategory'] = df['SubCategory'].replace(['subcat_1'],'Hydroelectric power')
df['SubCategory'] = df['SubCategory'].replace(['subcat_2'],'Photovoltaic')
df['SubCategory'] = df['SubCategory'].replace(['subcat_3'],'Wind Energy')
df['SubCategory'] = df['SubCategory'].replace(['subcat_4'],'Biomass')
df['SubCategory'] = df['SubCategory'].replace(['subcat_5'],'Geothermal energy')
df['SubCategory'] = df['SubCategory'].replace(['subcat_6'],'Nuclear energy')
df['SubCategory'] = df['SubCategory'].replace(['subcat_7'],'Crude oil')
df['SubCategory'] = df['SubCategory'].replace(['subcat_8'],'Natural gas')
df['SubCategory'] = df['SubCategory'].replace(['subcat_9'],'Coal')
df['SubCategory'] = df['SubCategory'].replace(['subcat_10'],'Waste')

In [24]:
df.head(30)

,Unnamed: 0,Canton,InitialPower,MainCategory,PlantCategory,SubCategory,TotalPower
0,0,NaN,0.00,NaN,NaN,NaN,0.00
1,1,BL,8455.01,Other renewable energies,Integrated,Photovoltaic,8949.36
2,2,BL,82823.65,Other renewable energies,Attached,Photovoltaic,85828.55
3,3,BL,0.00,Other renewable energies,NaN,Photovoltaic,0.00
4,4,BL,0.00,Other renewable energies,Continuous power plant,Photovoltaic,0.00
5,5,BL,0.00,Other renewable energies,Drinking water power plant,Photovoltaic,0.00
6,6,BL,0.00,Other renewable energies,Wastewater treatment,Photovoltaic,0.00
7,7,BL,0.00,Other renewable energies,Diversion power plant,Photovoltaic,0.00
8,8,BL,0.00,Other renewable energies,Biomass usage,Photovoltaic,0.00
9,9,BL,0.00,Other renewable energies,Weir plant,Photovoltaic,0.00
10,10,BL,150.69,Other renewable energies,Freestanding,Photovoltaic,150.69
11,11,BL,0.00,Other renewable energies,Waste incineration,Photovoltaic,0.00
12,12,BL,0.00,Other renewable energies,Wastewater power plant,Photovoltaic,0.00
13,13,BL,0.00,Other renewable energies,Storage power plant,Photovoltaic,0.00
14,14,BL,0.00,Other renewable energies,Pumped storage power plant,Photovoltaic,0.00
15,15,BL,0.00,Other renewable energies,Integrated,Wind Energy,0.00
16,16,BL,0.00,Other renewable energies,Attached,Wind Energy,0.00
17,17,BL,0.00,Other renewable energies,NaN,Wind Energy,0.00
18,18,BL,0.00,Other renewable energies,Continuous power plant,Wind Energy,0.00
19,19,BL,0.00,Other renewable energies,Drinking water power plant,Wind Energy,0.00
20,20,BL,0.00,Other renewable energies,Wastewater treatment,Wind Energy,0.00
21,21,BL,0.00,Other renewable energies,Diversion power plant,Wind Energy,0.00
22,22,BL,0.00,Other renewable energies,Biomass usage,Wind Energy,0.00
23,23,BL,0.00,Other renewable energies,Weir plant,Wind Energy,0.00
24,24,BL,0.00,Other renewable energies,Freestanding,Wind Energy,0.00
25,25,BL,0.00,Other renewable energies,Waste incineration,Wind Energy,0.00
26,26,BL,0.00,Other renewable energies,Wastewater power plant,Wind Energy,0.00
27,27,BL,0.00,Other renewable energies,Storage power plant,Wind Energy,0.00
28,28,BL,0.00,Other renewable energies,Pumped storage power plant,Wind Energy,0.00
29,29,BL,0.00,Other renewable energies,Integrated,Hydroelectric power,0.00

In [25]:
df.to_csv('EnergyPerCanton.csv')